name: CI (Linux)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install build dependencies
      run: sudo apt-get update && sudo apt-get install -y clang
    - name: Build
      run: make
    - name: Run tests (C)
      run: make check
